<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/favicon.ico" type="image/ico" />
  <title>
    Recursos disponíveis no módulo boletos
  </title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap&v=1679503302059"
    rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
  </style>

  <style>
    #tabela_bancos {
      width: 98%;
    }

    #tabela_bancos tr td i {
      color: #405e7b
    }

    table {
      margin-left: 1%;
      margin-top: 1.5%;
      border: 1px solid black;
    }

    td,
    th {
      text-align: center;
    }

    .nome_banco {
      text-align: left !important;
    }

    * {
      font-family: 'Inter', sans-serif;
    }
  </style>

</head>

<body>

  <table class="table" id="tabela_bancos">
    <thead>
      <tr>
        <th colspan="9">Recursos disponíveis no módulo Boletos</th>
      </tr>
      <tr>
        <th class="nome_banco" colspan="2">Banco</ht>
        <td>Emissão via API</td>
        <td>Desconto</td>
        <td>Retorno automático</td>
        <td>Retorno CNAB 240</td>
        <td>Retorno CNAB 400</td>
        <td>Alterar vencimento</td>
        <td>Baixar</td>
      </tr>
      <thead>
      <tbody>
        <tr v-for="banco in lista_bancos">
          <td><img v-bind:src="banco.link_img" width="50px;"></td>
          <!-- <td class="nome_banco">{{banco.descricao}}</td> -->
          <td class="nome_banco">{{banco.versao}}</td>
          <td><i v-if="banco.emissao" class="fas fa-check"></i></td>
          <td><i v-if="banco.desconto" class="fas fa-check"></i></td>
          <td><i v-if="banco.retorno_auto" class="fas fa-check"></i></td>
          <td><i v-if="banco.retorno_cnab240" class="fas fa-check"></i></td>
          <td><i v-if="banco.retorno_cnab400" class="fas fa-check"></i></td>
          <td><i v-if="banco.alterar_vencimento" class="fas fa-check"></i></td>
          <td><i v-if="banco.baixar" class="fas fa-check"></i></td>
        </tr>
      </tbody>
  </table>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

  <script>
    var Bancos_vue = new Vue({
      el: '#tabela_bancos',
      data: {
        lista_bancos: [
          {
            'descricao': 'Ailos',
            'link_img': '/recursos-boletos-linvix/ailos.jpg?raw=true',
            'emissao': true,
            'desconto': true,
            'retorno_auto': true,
            'retorno_cnab240': false,
            'retorno_cnab400': false,
            'alterar_vencimento': true,
            'baixar': true,
            'versao': 'v1',
          },
          {
            'descricao': 'Banco do Brasil',
            'link_img': '/recursos-boletos-linvix/001.png?raw=true',
            'emissao': true,
            'desconto': true,
            'retorno_auto': true,
            'retorno_cnab240': false,
            'retorno_cnab400': false,
            'alterar_vencimento': true,
            'baixar': true,
            'versao': 'v2',
          },          
          {
            'descricao': 'Banco Inter',
            'link_img': '/recursos-boletos-linvix/077.png?raw=true',
            'emissao': true,
            'desconto': true,
            'retorno_auto': true,
            'retorno_cnab240': false,
            'retorno_cnab400': false,
            'alterar_vencimento': true,
            'baixar': true,
            'versao': 'v1',
          },
          {
            'descricao': 'Bradesco',
            'link_img': '/recursos-boletos-linvix/237.png?raw=true',
            'emissao': true,
            'desconto': true,
            'retorno_auto': false,
            'retorno_cnab240': false,
            'retorno_cnab400': true,
            'alterar_vencimento': false,
            'baixar': false,
            'versao': 'v1',
          },
          {
            'descricao': 'CRESOL',
            'link_img': '/recursos-boletos-linvix/cresol.png?raw=true',
            'emissao': true,
            'desconto': true,
            'retorno_auto': true,
            'retorno_cnab240': false,
            'retorno_cnab400': false,
            'alterar_vencimento': true,
            'baixar': true,
            'versao': 'v1',
          },   
          {
            'descricao': 'Santander',
            'link_img': '/recursos-boletos-linvix/033.png?raw=true',
            'emissao': true,
            'desconto': true,
            'retorno_auto': false,
            'retorno_cnab240': false,
            'retorno_cnab400': true,
            'alterar_vencimento': false,
            'baixar': false,
            'versao': 'v1',
          },
          {
            'descricao': 'Sicoob',
            'link_img': '/recursos-boletos-linvix/756.png?raw=true',
            'emissao': true,
            'desconto': true,
            'retorno_auto': true,
            'retorno_cnab240': false,
            'retorno_cnab400': false,
            'alterar_vencimento': true,
            'baixar': true,
            'versao': 'v2',
          },   
          {
            'descricao': 'Sicredi',
            'link_img': '/recursos-boletos-linvix/748.png?raw=true',
            'emissao': true,
            'desconto': true,
            'retorno_auto': true,
            'retorno_cnab240': false,
            'retorno_cnab400': false,
            'alterar_vencimento': true,
            'baixar': true,
            'versao': 'v1',
          },         
        ],
      }

    });
  </script>

  <script>



  </script>

</body>
